<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Srijana Lama">
    <link type="text/css" href="/css/main.css" rel="stylesheet">
    <script src="/js/index.js"></script>
    <title>Srijana's Project</title>
</head>

<body>
    <header>
        <div id="logo">
            <img src="/images/logo.png" alt="logo" height="75px" width="75px">
        </div>
        <div id="login-form">
            <form>
                <div id="form-div">


                    <label for="userName">UserName </label>
                    <input type="text" id="userName" name="userName" />


                    <label for="password">Password </label>
                    <input type="password" id="password" name="password" />
                </div>
                <div>


                    <button type="submit" id="login-btn">Login</button>
                </div>
            </form>
        </div>
    </header>

    <div>
        <h1>Welcome to my store</h1>
    </div>

</body>

</html>